*{
  margin: 0px;
  box-sizing: border-box;
}
.screen{
  display: flex;
  height: 100vh;
}
.ladoesquerdo{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.ladoesquerdo img{
  width: auto;
  height: 100vh;
}
.ladodireito{
  width: 500px;
  background-color: #444;
  padding: 85px;
  color: white;
}
.ladodireito h1{
  margin-bottom: 15px;
}
.ladodireito label{
  display: block;
  margin-bottom: 20px;
}
.ladodireito input{
  border: 1px solid #999;
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
  width: 100%;
  outline: 0;
}
.botaocadastrar{
  cursor: pointer;
}
.botaocadastrar:hover{
  background-color: #999;
}
.facaologin{
  color: white;
}
.error{
  font-size: 13px;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 5px;
}


@media (max-width:900px) {
  .ladodireito{
    width: 400px;
    padding: 55px;
  }
}


@media (max-width:700px) {
  .screen{
    flex-direction: column;
  }
  .ladoesquerdo{
    height: 350px;
    background-color: none;
  }
  .ladoesquerdo img {
    width: 420px;
  }
  .ladodireito{
    width: 100%;
    text-align: center;
  }
  .ladodireito input{
    width: 350px;
  }
}

@media (max-width:500px) {
  .ladodireito input{
    width: 250px;
  }
}